* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
    /* border-bottom: 1px solid #ddd; */
    min-width: 100%;
}

.profile {
    display: flex;
    position: relative;
    align-items: center;
    gap: 50px; 
}


.toggle-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.toggle-image:hover {
    transform: scale(1.1); /* Zoom ao passar o mouse */
}



.dropdown {
    display: none; /* Oculto por padrão */
    position: absolute; ;
    top: 100%; /* Aparece logo abaixo da foto */
    left: 90%; /* Centralizado em relação à foto */
    transform: translateX(-40%);
    background-color: white;
    border: 8px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    text-align: left;
    width: 150px; /* Largura fixa para o drop box */
}

/* Links dentro do Drop Box */
.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* Mostrar o Drop Box ao clicar */
.image-with-dropdown:focus-within .dropdown {
    display: block;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.email {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    padding: 9px 10px;
    border-radius: 5px;
    left: -300px;
}

.email a{
    text-decoration: none;
    color: inherit;
}

.email:hover {
    background-color: #e74c3c;
    transform: rotate(5deg); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.email span {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.email:hover span {
    color: #fff;
}



.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.menu a:hover::after,
.menu a.active::after {
    width: 100%;
}

.menu a:hover {
    color: #e74c3c;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(99vh - 70px); 
    text-align: center;
    background-color: #f0f0f0;
    padding: 80px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto
}

.new-image {
    position: fixed;
    top: 30px;
    left: 75px;
    width: 60px; 
    height: auto;
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}


/* Tooltip */
.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -40px;
    left: 46%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    animation: float 2s ease-in-out infinite;
    margin-bottom: 60px; 
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, 0); 
    }
    50% {
        transform: translate(-50%, -10px); 
    }
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Main Title */
h1 {
    font-size: 56px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    font-size: 26px;
    color: #666;
    margin-top: 10px;
    max-width: 600px;
}



.about-me {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.about-me h2 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; 
}

.about-me p {
    font-size: 18px;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}



.about-me {
    margin-top: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}

.about-me h2 {
    font-size: 56px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.about-me .intro {
    font-size: 25px;
    color: #666;
    margin-bottom: 30px;
    font-style: italic;
}

.about-me .content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 40px;
}

.about-me .left,
.about-me .right {
    flex: 1;
    text-align: left;
}

.about-me h3 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
   margin-left: 50px;
}

.about-me p {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 40px;
}

.skills span {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills span:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.experiences {
    margin-top: 40px;
    padding: 40px;
    background-color: #f0f0f0; 
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
}

.experiences h2 {
    font-size: 46px;
    font-weight: bold;
    align-items: center;
    color: #333;
    margin-bottom: 20px;
;
}

.experiences p{
    font-size: 28px;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.under-construction {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

.gif-container img {
    /* width: 300px;  */
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); / */
}