* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
    /* border-bottom: 1px solid #ddd; */
    min-width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 50px; 
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.email {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    padding: 9px 10px;
    border-radius: 5px;
    /* transform: rotate(5deg); */
}

.email a{
    text-decoration: none;
    color: inherit;
}

.email:hover {
    background-color: #e74c3c;
    transform: rotate(5deg); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.email span {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.email:hover span {
    color: #fff;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.menu a:hover::after,
.menu a.active::after {
    width: 100%;
}

.menu a:hover {
    color: #e74c3c;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(99vh - 70px); 
    text-align: center;
    background-color: #f0f0f0;
    padding: 80px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto
}

/* Tooltip */
.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, 0); 
    }
    50% {
        transform: translate(-50%, -10px); 
    }
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Main Title */
h1 {
    font-size: 56px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 26px;
    color: #666;
    margin-top: 10px;
    max-width: 600px;
}